<h1>UsersBackoffice::Welcome#index</h1>
<p>Find me in app/views/users_backoffice/welcome/index.html.erb</p>

<% if user_signed_in? %>
  <%= current_user.email %> | <%= link_to "Sair", destroy_user_session_path, method: :delete %>
<% else %>
  <p>Inicie uma sessão</p>
<% end %>